footer {
  background-color: gray;

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
}
footer > div {
  font-size: 35px;
  text-align: center;
  width: fit-content;
  padding: 15px;
}
