.Parent-ListenAndSpeekBtns {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  width: 100%;
  /* transform: translate(0, 55px); */
}
.Parent-ListenAndSpeekBtns > button {
  margin: 5px;
  padding: 7px;
  font-size: 1.5rem;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.511);
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  transition: 0.4s;
}
.Parent-ListenAndSpeekBtns > button:hover {
  background-color: cornflowerblue;
  color: #fff;
}

.photo {
  width: 100%;
  /* border: 2px solid red; */
  text-align: center;
  padding: 10px;
}

.photo > img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .Parent-ListenAndSpeekBtns > button {
    max-width: 350px;
  }
  .photo > img {
    width: 15%;
  }
}
