.TopHeader {
  text-align: center;
  background-color: #cbcbcb;
}
.TopHeader > menu {
  display: flex;
}
.TopHeader > menu > nav {
  width: 100%;
}
.TopHeader > menu > nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}
.TopHeader > menu > nav > ul > li > a {
  padding: 10px;
  color: #292f44;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
  display: inline-block;
}
.TopHeader > menu > nav > ul > li > a:hover {
  /* color: #214ee3; */
  color: cornflowerblue;
}
@media screen and (min-width: 768px) {
  .TopHeader > menu > nav > ul {
    flex-direction: row;
    justify-content: center;
  }
  .TopHeader > menu > nav > ul > li > a {
    font-size: 1.2rem;
  }
}
